
.kanban-board {
  background-color: #e2e2e27e;
  height: 150vh;
  
}
.header{
  
  display: flex;
  align-items: center;
  height: 4.5rem;
  background-color: #ffffff;
  
  
}
.controls {
  
  display: flex;
   flex-direction: column; 
  align-items: center;
  margin-bottom: 20px;
  border: #a0d911;
  margin-left: 3rem;
  position: relative;

  
  
  
}
.dropbtn{
  
 
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: #888;
  display: flex;
  align-items: center;

  

}

.dropdown-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  border: 1px solid black;
  box-shadow: #888;
  border-radius: 1rem;
  margin: 0.3rem;
  padding: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #e2e2e27e;
  position: absolute;
  top:2rem;
  left: 0%;
  
  
}





.Grouping{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border: 0.3rem;
  margin-bottom: 1rem;
  box-shadow: #888;
  
}

.Sorting{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: #888;
  border: 0.3rem;
  
  
}
.cam-id{
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  padding: 8px;
  font-size: 1rem;
}
.board {
  display: flex;
  justify-content: space-around;
}
.column {
  /* background-color: #e2e2e27e; */
  padding: 10px;
  max-width: fit-content;
  border-radius: 10px;
  margin-right: 10px;
}
h4 {
  
  
}

.Eachheading{
   display: flex;
   justify-content: space-between;
}
.Doneheading{
  display: flex;
  justify-content: space-between;
  width: 12rem;
}
.ticket {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 20rem;
 
}

.Prioritycount{
  color: #808080;
}
.priority {
  margin-top: 5px;
  font-size: 0.9rem;
  padding: 4px;
  border-radius: 4px;
}
.priority-4 {
  

  
  color: white;
}
.priority-3 {
 
  color: white;
}
.priority-2 {
  
  color: white;
}
.priority-1 {
 
  color: white;
}
.priority-0 {
  
  color: white;
}
.user {
  font-size: 0.8rem;
  color: #888;
}
.status {
  font-size: 0.8rem;
  color: #888;
}

.image-avt{
  height: 28px;
  /* width:24px; */
  border-radius: 80%;
  
}